.flex-direction-nav a,
.nivo-directionNav a {
    width: 50px;
    height: 50px;
    margin: -29px 0 0;
    display: block;
    position: absolute;
    top: 50%;
    cursor: pointer;
    font-size: 0;
    z-index: 9;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    background: #000;
    text-decoration: none!important;
}
.flex-direction-nav .flex-next,
.nivo-directionNav a.nivo-nextNav {
    background-position: 100% 0;
    right: -50px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.flex-direction-nav .flex-prev,
.nivo-directionNav a.nivo-prevNav {
    left: -50px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.ma-nivoslider:hover .nivo-directionNav a.nivo-nextNav {
    right: -25px;
    opacity: 1;
}
.ma-nivoslider:hover .nivo-directionNav a.nivo-prevNav {
    left: -25px;
    opacity: 1;
}
.flexslider .flex-next:hover,
.nivo-directionNav a.nivo-nextNav:hover {
    background: #404048;
}
.flexslider .flex-prev:hover,
.nivo-directionNav a.nivo-prevNav:hover {
    background: #404048;
}
.flex-direction-nav .flex-disabled {
    opacity: .3!important;
    filter: alpha(opacity=30);
    cursor: default;
}
.flex-direction-nav a:before,
.nivo-directionNav a:before {
    display: block;
    font-family: FontAwesome;
    color: #fff;
    font-size: 16px;
    width: 20px;
    height: 20px;
}
.flex-direction-nav .flex-prev:before,
.nivo-directionNav a.nivo-prevNav:before {
    content: "\f104";
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
}
.flex-direction-nav .flex-next:before,
.nivo-directionNav a.nivo-nextNav:before {
    content: "\f105";
    transform: rotate(-135deg) translateX(-25px);
    -webkit-transform: rotate(-135deg) translateX(-25px);
    -moz-transform: rotate(-135deg) translateX(-25px);
}
.flex-control-nav,
.nivo-controlNav {
    position: absolute;
    bottom: 30px;
    text-align: center;
    right: 0;
    left: 0
}
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active,
.nivo-controlNav a:hover,
.nivo-controlNav a.active {
    cursor: pointer;
    width: 11px;
    height: 11px;
    border: 3px solid #d8373e;
}
.nivo-controlNav a {
    border: 0 none;
    display: inline-block;
    height: 11px;
    margin: 0 3px;
    font-size: 0;
    width: 11px;
    cursor: pointer;
    position: relative;
    z-index: 9;
    background-color: #fff;
    border: 3px solid transparent;
}
.banner7-content {
    height: 100%;
    position: relative;
    color: #fff;
}
.banner7-content .title-container {
    position: absolute;
    top: 68%;
    right: 3%;
    text-align: center;
}
.banner7-content h1 {
    -webkit-animation: bounceIn 1500ms ease-in-out;
    -moz-animation: bounceIn 1500ms ease-in-out;
    -ms-animation: bounceIn 1500ms ease-in-out;
    animation: bounceIn 1500ms ease-in-out;
}
.banner7-content .title1 {
    display: block;
    color: #fff;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    margin: 0;
    text-transform: capitalize;
    letter-spacing: -2px;
}
.banner7-content h2 {
    -webkit-animation: bounceIn 1800ms ease-in-out;
    -moz-animation: bounceIn 1800ms ease-in-out;
    -ms-animation: bounceIn 1800ms ease-in-out;
    animation: bounceIn 1800ms ease-in-out;
    clear: both;
}
.banner7-content h2 {
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    display: inline-block;
    margin: 0;
    text-transform: capitalize;
}
.banner7-content h3 {
    -webkit-animation: bounceIn 2200ms ease-in-out;
    -moz-animation: bounceIn 2200ms ease-in-out;
    -ms-animation: bounceIn 2200ms ease-in-out;
    animation: bounceIn 2200ms ease-in-out;
    float: right;
    clear: both;
    padding: 10px;
    text-transform: capitalize;
    color: #fff;
    font-family: arial;
    background-color: rgba(67, 66, 64, 0.54);
    font-size: 1.3em;
    line-height: 1.8;
    margin-bottom: 10px
}
.banner7-content .banner7-readmore {
    -webkit-animation: bounceInUp 2200ms ease-in-out;
    -moz-animation: bounceInUp 2200ms ease-in-out;
    -ms-animation: bounceInUp 2200ms ease-in-out;
    animation: bounceInUp 2200ms ease-in-out;
    clear: both;
    margin-top: 30px;
}
.banner7-content .banner7-readmore a {
    font-size: 11px;
    padding: 10px 15px;
    text-transform: uppercase;
    display: inline-block;
    background: #222;
    color: #fff;
    font-family: montserratbold;
}
.banner7-content .banner7-readmore a:after {
    content: "\f061";
    display: inline-block;
    font-family: FontAwesome;
    margin-left: 10px;
}
.banner7-content .banner7-readmore a:hover {
    background: #fff;
    color: #222;
}
.banner7-content .banner7-des {
    clear: both;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}
.banner7-content .banner7-des:before {
    content: "";
    width: 13px;
    height: 100%;
    position: absolute;
    left: 0;
    display: block;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.banner7-content .banner7-des h1 {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    line-height: 38px;
    background: #f9af51;
    text-transform: uppercase;
    padding: 0 28px;
    margin: 0;
    float: left;
    position: relative;
    -webkit-animation: fadeInLeft 500ms ease-in-out;
    -moz-animation: fadeInLeft 500ms ease-in-out;
    -ms-animation: fadeInLeft 500ms ease-in-out;
    animation: fadeInLeft 500ms ease-in-out;
}
.banner7-content .banner7-des h1:after {
    position: absolute;
    right: -23px;
    top: 0;
    content: "";
    display: inline-block;
    width: 23px;
    height: 100%;
    background: linear-gradient(-120deg, transparent 49%, rgba(249, 175, 81, 1) 50%);
}
.banner7-content .banner7-des h2 {
    font-size: 70px;
    font-family: Oswald;
    color: #fff;
    line-height: 82px;
    background: #d8373e;
    text-transform: uppercase;
    padding: 0 28px;
    float: left;
    position: relative;
    -webkit-animation: fadeInLeft 800ms ease-in-out;
    -moz-animation: fadeInLeft 800ms ease-in-out;
    -ms-animation: fadeInLeft 800ms ease-in-out;
    animation: fadeInLeft 800ms ease-in-out;
}
.banner7-content .banner7-des h2:after {
    position: absolute;
    right: -23px;
    top: 0;
    content: "";
    width: 23px;
    height: 100%px;
    display: block;
    border-width: 38px 0 44px 23px;
    border-color: transparent;
    border-left-color: #d8373e;
    border-style: solid;
}
.banner7-content .banner7-des .check-box {
    background: #404040;
    float: left;
    padding: 15px 28px;
    clear: both;
    -webkit-animation: fadeInLeft 1200ms ease-in-out;
    -moz-animation: fadeInLeft 1200ms ease-in-out;
    -ms-animation: fadeInLeft 1200ms ease-in-out;
    animation: fadeInLeft 1200ms ease-in-out;
}
.banner7-content .banner7-des .check-box li {
    line-height: 30px;
    display: block;
    font-size: 18px;
}
.banner7-content .banner7-des .check-box li:before {
    content: "\f14a";
    float: left;
    font-size: 24px;
    margin-right: 10px;
    font-family: FontAwesome;
}
.banner7-content img {
    position: absolute;
    top: 50%;
    right: 13%;
    margin-top: -195px;
    left: auto;
}
.banner7-content img.img1 {
    -webkit-animation: bounceInDown 1000ms ease-in-out;
    -moz-animation: bounceInDown 1000ms ease-in-out;
    -ms-animation: bounceInDown 1000ms ease-in-out;
    animation: bounceInDown 1000ms ease-in-out;
}
.banner7-content img.img2 {
    -webkit-animation: bounceIn 1500ms ease-in-out;
    -moz-animation: bounceIn 1500ms ease-in-out;
    -ms-animation: bounceIn 1500ms ease-in-out;
    animation: bounceIn 1500ms ease-in-out;
}